body{
    margin: 5px;
}
/*header*/

.links {
    display: flex;
    flex-direction: column-reverse;
  }
.toplink{
    position:relative;
    right: 150px;
    bottom: 40px;   
}
.header a:hover{
    border-top: none;
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
}  

   /*nav*/
h1{
    font-size: 15px;
}   
.information button{
    height:50px;
    width:50px;
    border-radius:15px;
    position: relative;
    right: 20px;
} 
.search-button span{
    opacity: 0;
}
.search-button i{
    opacity: 1;
}
.fa-search{
    margin-top: 13px;
    font-size: 20px;
}
.information input{
    width: 190px;
    height: 45px;
    font-size: 13px;
}
.information button{
    height: 45px;
}
.fa-map-marker{
    height: 45px;
    width: 45px;
    font-size: 20px;
    position: relative;
    right: 15px;
    top: 0.5px;
}
    /*FILTRES*/
.filter-container .filter-button:nth-child(3){
    width: 100px;
    position: relative;
    bottom: 45px;
    left: 170px;
}
.filter-container .filter-button:nth-child(5){
    margin: 35px auto;
    margin-left: 0px;
    width: 100px;
}
.filter-container{
    flex-direction: column;
    width: 100%;
}
.filter-text p{
font-size: 12px;
}

/*section*/
article{
    width: 100%;
    padding: 20px;
}
.popular{
    width: 100%;
    margin: 5px; 
}
.mostPopular img{
    margin: 5px;
    height:100px ;
    width:140px ;
}
.mostPopular span{
    position: relative;
    right: 15px;   
}
.discription .stars{
    position: relative;
    top:15px;
    right:25px;
}

#menu1{
    flex-direction: column-reverse;
}
.hebergement img{
    width: 300px;
    overflow: hidden;
    padding:5px auto;
    margin: 2px;
}
article h2{
    font-size: 20px;
}

/*Section2*/
.menu{
   flex-direction: column;  
   position: inherit;        
} 
   

.harbor img{
    height:200px;
    width:100%;
}
.harbor{
    position: inherit;
}

.pomégues img{
    height:200px;
    width:100%;
}
.pomégues{ 
    position: inherit;
    margin: 20px auto;
}
.frioul img{
    height:200px;
    width:100%;
}
.frioul{
    position: inherit;
    margin: 10px auto;
}

.parc img{
    height:150px;
    width: 100%;;
}
.parc{
    position: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
}
.florian img{
    height:200px;
    width:100%;
}
.florian{
    position: inherit;
    margin: 10px auto;
}
.parcLongchamp img{
    height:200px;
    width:100%;
}
.parcLongchamp{
    position: inherit; 
    margin: 20px auto;  
}  

/*footer*/
#footer{
    flex-direction: column;
    
}