body{
    margin: 20px;
}
/*header*/

.links {
    display: flex;
    flex-direction: column-reverse;
  }
.toplink{
    position: relative;
    right: 300px;
    bottom: 40px;
}

.header a:hover{
    border-top: none;
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
}  

   /*nav*/
   
.information button{
    height:50px;
    width:50px;
    border-radius:15px;
    position: relative;
    right: 20px;
} 
.search-button span{
    opacity: 0;
}
.search-button i{
    opacity: 1;
}
.fa-search{
    position: relative;
    top: 7px;
}
.information input{
    width: 280px;
}
