body{
    margin: 20px;
}
/*header*/

.links {
    display: flex;
    flex-direction: column-reverse;
  }
.toplink{
    position: relative;
    right: 300px;
    bottom: 40px;
}

.header a:hover{
    border-top: none;
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
}  

   /*nav*/
   
.information button{
    height:50px;
    width:50px;
    border-radius:15px;
    position: relative;
    right: 20px;
} 
.search-button span{
    opacity: 0;
}
.search-button i{
    opacity: 1;
}
.fa-search{
    position: relative;
    top: 7px;
}
.information input{
    width: 280px;
}
.filter-container h2{

}
.filter-container h2{
    position: relative;
    right: 30px;
}
.filter-container .filter-button:nth-child(2){
    position: relative;
    right: 20px;
}
.filter-container .filter-button:nth-child(3){
    position: relative;
    left: 250px;
    bottom: 50px;
}
.filter-container .filter-button:nth-child(4){
    position: relative;
    right: 20px;
    bottom: 25px;
}
.filter-container .filter-button:nth-child(5){
    position: relative;
    right: 20px;
}

.filter-container{
    flex-direction: column;
    padding: 40px ;
}


/*section*/
#menu1{
    flex-direction: column-reverse;
    justify-content: center;
}
article{
    
    overflow:hidden;
    flex-direction: column;
}
aside{
    width: 300px;
    overflow:hidden;
    flex-direction: column;  
}