/*header*/
img{
    /*float: left;*/
    width: 100px;
    
    }
    #enTete{
        display: flex;
        justify-content: space-between;
    }
    .header{
    margin-top: 30px;
    
    }
    .header ul{
    
    text-align: right;
    
    }
    .header ul li{
    
    list-style-type: none;
    display: inline;
    margin-top: 30px;
    }
    
    a{
        text-decoration: none;
        color: rgb(37, 37, 37);
    }
    
    .header a:hover{
        color: blue;
        border-top: 1px solid blue;
        padding-top: 20px;
    }  
    
    a:focus{
    
        color: blue;
    }
    
    .toplink{
        margin: 30px;
        
    }
    .header ul li:nth-child(3){
        font-weight:bolder;
        font-size: 20px;
    }

     /*section1*/

     .section1{
        display: inline-block;
        margin: 10px;
        background-color:  #F2F2F2;
        /*padding-bottom: 15px;*/
        border: 0px black solid;
        border-radius: 10px;
        /*overflow: hidden;*/
    }
    
    
    .accommodation{
        display: flex;
         flex-direction: row; 
         flex-wrap: wrap;
         justify-content: space-between;
    }

    .hebergement img{
        width: 200px;
        height:100px;
        margin: 10px;
    }
   
    .mostPopular img{
        width: 130px;
        height:95px;
        overflow: hidden;
        margin:10px 5px;
        padding-bottom: 10px;
        
         
    }
    .hebergement{
        background-color: white;
        border: 0px black solid;
        margin: 5px;
        border-radius: 15px;
    }
    .mostPopular{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        border: 0px black solid;
        border-radius: 15px;
        margin: 10px;
    }
    .bold{
        font-weight: bolder;
    }
    article{
        width:60%;
        overflow:auto;
        display:inline-block;
        
    }
    aside{
        float: both;
        width:30%;
    
    }
    h2{
        margin: 20px;
    }
    .accommodation span{
       display: block; 
     margin-left: 15px;
     margin-top: 7px;
     margin-bottom: 7px;
    }
    .mostPopular span{
        display: block;
        width: 150px;
        margin: 5px 10px;
    }
    /*stars*/
    .stars {
        display: inline;
        width:15px;
        height: 15px;
        margin: 0px;
        margin-left: 7px;
        justify-content: space-around;
    }
   
    .stars .gold{
        color: #0065FC;
    }
    .stars #emptyStar{
        color: #c0bfbf;
    }
    .align{
        display: flex;
        justify-content: space-between;
    }
    .charts{
        font-size: 24px;
        margin: 20px;
    }



   
		
	

             /*footer*/
     footer{
        background-color: #F2F2F2;
        margin: auto;
        webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.8);
        moz-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.8);
        box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.8);
    }
    .footer ul{
        padding: auto;
    }
    .footer ul li{
        list-style-type: none;
        padding: 5px;
        padding-bottom: 6px;
    }
  .footer{
        display: inline-block;
        margin: auto 70px;

  }

  .footer a:hover{
         color: rgb(12, 89, 233);
  }