/*header*/
img{
    width: 100px;
    position: relative;
    left: 15px;
    }
    #enTete{
        display: flex;
        justify-content: space-between;
    }
    .header{
    margin-top: 30px;
    
    }
    .header ul{
    
    text-align: right;
    
    }
    .header ul li{
    
    list-style-type: none;
    display: inline;
    margin-top: 30px;
    }
    
    a{
        text-decoration: none;
        color: rgb(37, 37, 37);
    }
    
    .header a:hover{
        color: blue;
        border-top: 1px solid blue;
        padding-top: 20px;
    }  
    
    .header a:focus{
    
        color: blue;
    }
    
    .toplink{
        margin: 30px;
        
    }
    .header ul li:nth-child(3){
        font-weight:bolder;
        font-size: 20px;
    }

         /*nav*/
    nav p{
      position: relative;
      left: 25px;
    }

    .information button{
        background-color:#0065FC;
        color: white;
        height:60px ;
        width:150px ;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
   }
    .information{
       display: flex;
       margin: 20px;
   }
    .information input{
       height:35px;
       width: 300px;
       font-weight: bolder;
       font-size: 20px;
       padding: 10px;
   }
   .information i {
       width:40px;
       height:30px;
       font-size: 30px;
       text-align: center;
       padding: 15px;
       background-color: #F2F2F2;
       border-top-left-radius: 15px;
       border-bottom-left-radius: 15px;
   }

   /*
    input[type=checkbox]{
      display:none;
  }

    .filtres{
      display: flex;
      margin: 30px;
      
  }
    label{
      display: block;
      margin: 20px 25px;
      padding: 15px 20px;
      width: 130px;
      height: 20px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      border: 1px rgb(82, 81, 81) solid;
      border-radius: 25px;
  }
    .filtres #family{
      width: 110px;
  }
    .filtres #animal{
      width: 170px;
  }
    label::after{
      content:"";
      display: block;
      
      position: relative;
      bottom: 35px;
      right: 35px;
      width: 50px;
      height: 50px;
      background-color: #DEEBFF;
      border-radius: 50%;
  }
    .filtres h3{
      position: relative;
      top: 15px; 
  }
    .filtres .fa-child{
      color: blue;
      font-size: 24px;
      
  }*/
  #filtres h3{
   position: relative;
   left:20px;
   bottom: 10px;
  }
  #filtres{
    display: flex;
  }
  .economics{
    display: flex; 
    position: relative;
    left: 35px;
  }
  .childs {
     display: flex;
     position: relative;
     left: 70px;
   }
   .romantics{
     display: flex; 
     position: relative; 
     left: 105px;
   }
   .animals{
       display: flex;
       position: relative;
       left:140px;
   }
   

   #money{
    background-color: #DEEBFF;
    border: 0px black solid;
    border-radius: 50%;
    width:40px ;
    height:40px ;
    position: relative;
    left: 25px;  
}
   #child {
       background-color: #DEEBFF;
       border: 0px black solid;
       border-radius: 50%;
       width:40px ;
       height:40px ;
       position: relative;
       left: 25px;     
   }
   
   #heart{
      background-color: #DEEBFF;
      border: 0px black solid;
      border-radius: 50%;
      width:40px ;
      height:40px ;
      position: relative;
      left: 25px; 
   }
   #dog{
      background-color: #DEEBFF;
      border: 0px black solid;
      border-radius: 50%;
      width:40px ;
      height:40px ;
      position: relative;
      left: 25px; 
 }

   #economic{
       border: 1px rgb(211, 207, 207) solid;
       border-radius:20px ;
       width:150px ;
       height: 40px;
   }
   #family{
       border: 1px rgb(211, 207, 207) solid;
       border-radius:20px ;
       width:150px ;
       height: 40px;
   }
   #romantic{
       border: 1px rgb(211, 207, 207) solid;
       border-radius:20px ;
       width:150px ;
       height: 40px; 
   }
   #animal{
       border: 1px rgb(211, 207, 207) solid;
       border-radius:20px ;
       width:190px ;
       height: 40px;  
   }

   .fa-child{
       position: relative;
       left: 13px;
       top: 10px;
       font-weight: bolder;
       font-size: 40px;
       color: #0065FC;
   }
   .fa-money-bill{
    position: relative;
    left: 15px;
    top: 10px;
    font-weight: bolder;
    font-size: 40px;
    color: #0065FC;  
   }
   .fa-heart{
    position: relative;
    left: 13px;
    top: 13px;
    font-weight: bolder;
    font-size: 40px;
    color: #0065FC;  
   }
   .fa-dog{
    position: relative;
    left: 13px;
    top: 13px;
    font-weight: bolder;
    font-size: 40px;
    color: #0065FC;  
   }
   #filtres h4{
       text-align: center;
       position: relative;
       bottom: 10px;
   }

     /*section1*/

    .menu1{
         display:flex;
     }
     .bestAccommodation{
        display: inline-block;
        margin: 10px;
        background-color:  #F2F2F2;
        border: 0px black solid;
        border-radius: 10px;
    }
    .popular{
        margin: 10px;
        background-color:  #F2F2F2;
        border: 0px black solid;
        border-radius: 10px;
    }
    
    
    .accommodation{
        display: flex;
         flex-direction: row; 
         flex-wrap: wrap;
         justify-content: space-between;
    }

    .hebergement img{
        width: 250px;
        height:130px;
        margin: 10px;
    }
   
    .mostPopular img{
        width: 130px;
        height:110px;
        overflow: hidden;
        margin:10px 5px;
        padding-bottom: 10px;   
    }
    .hebergement{
        background-color: white;
        border: 0px black solid;
        margin: 5px;
        border-radius: 15px;
    }
    .mostPopular{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        border: 0px black solid;
        border-radius: 15px;
        margin: 10px;
    }
    .bold{
        font-weight: bolder;
    }
    article{
        width:70%;
        overflow:auto;
        display:inline-block;
    }
    h2{
        margin: 20px;
    }
    .accommodation span{
        display: block; 
        margin-left: 15px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .mostPopular span{
        display: block;
        width: 150px;
        margin: 5px 10px;
    }
    /*stars*/
    .stars {
        display: inline;
        width:15px;
        height: 15px;
        margin: 0px;
        margin-left: 7px;
        justify-content: space-around;
    }
   
    .stars .gold{
        color: #0065FC;
    }
    .stars #emptyStar{
        color: #c0bfbf;
    }
    .align{
        display: flex;
        justify-content: space-between;
    }
    .charts{

        font-size: 24px;
        margin: 20px;
    }

          /*section2*/
    .menu2{
            display: flex;
            position: relative;
            top:25px;
            
          }
    .menu2 span{
        font-weight: bold;
        text-transform:capitalize;
        position: relative;
        left: 20px;
          }
        
    .harbor img{
        height:330px;
        width:260px;
        position: relative;

          }
    .harbor{
        border: 0px black solid;
        border-radius: 15px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        -moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        overflow: hidden;
        position: relative;
        bottom: 30px;
        left: 20px;
   }
    .pomégues img{
        height:130px;
        width:260px;
        position: relative;
        bottom: 10px;
   }
    .pomégues{
        border: 0px black solid;
        border-radius: 10px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        -moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        overflow: hidden; 
        position: relative;
        bottom: 30px;
        left: 60px;
    }
    .frioul img{
        height:130px;
        width:260px;
        position: relative;
        bottom: 10px;
    }
    .frioul{
        border: 0px black solid;
        border-radius: 15px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        -moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        overflow: hidden; 
        position: relative;
        left: 60px;
        top: 5px; 
   }
    .parc img{
        height:330px;
        width:260px;
  }
    .parc{
        border: 0px black solid;
        border-radius: 15px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        -moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        overflow: hidden; 
        position: relative;
        bottom: 30px;
        left:100px ; 
  }
    .florian img{
        height:130px;
        width:260px;
        position: relative;
        bottom: 10px;
  }
    .florian{
        border: 0px black solid;
        border-radius: 15px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        -moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        overflow: hidden; 
        position: relative;
        bottom: 30px;  
        left: 140px;
  }
    .parcLongchamp img{
        height:130px;
        width:260px;
        position: relative;
        bottom: 10px;
  }
    .parcLongchamp{
        border: 0px black solid;
        border-radius: 15px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        -moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.46);
        overflow: hidden;   
        position: relative;
        left: 140px;
        top: 5px;
  }
    h2{
         text-transform: capitalize;
  }
             /*footer*/
     footer{
        background-color: #F2F2F2;
        margin: auto;
        webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.8);
        moz-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.8);
        box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.8);
        position: relative;
        top: 50px;
    }
    .footer ul{
        padding: auto;
    }
    .footer ul li{
        list-style-type: none;
        padding: 5px;
        padding-bottom: 6px;
    }
  .footer{
        display: inline-block;
        margin: auto 70px;

  }

  .footer a:hover{
         color: rgb(12, 89, 233);
  }